#logo-a {
    padding:0;
    margin:2px 0 0 5%;
}

.container-fluid {
  padding-right: -15px;
  padding-left: -15px;
  margin-right: auto;
  margin-left: auto;
}


.navbar-frame {
    height:79px;
    background-color: rgb(200,200,180);
    width:100%;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width:100%;
    background-color: rgba(200,200,180,0.6);
    position: fixed;
    top:0;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

}

.navbar-img {
    height:79px;
    padding:0;
    margin:0;
}

.navbar-logo {
    height:80px;
    padding:0;
    margin: 0 30% 0 1%;
}

.navbar-btn {
    width:122px;
    height: 80px;

}

.navbar-icon {
    position: fixed;
    top:10px;
    right:5%;
    font-size: 34px;
    display: none;
}

.active {
    background-color: rgb(20,127,150);
}



.navbar-btn a {
    display: block;
    color: black;
    text-align: center;
    padding:25px 0;
    text-decoration: none;
    font-size: 20px;
    margin:0 3%;
}

.navbar li {
    float: left;
    text-align: center;
}


ul li:hover:not(.active):not(.navbar-logo):not(.navbar-icon):not(.index-contact-frame ul li) {
    background-color: rgb(40,147,196);
}


@media screen and (max-width: 700px) {

    ul li.navbar-icon {
        float: right;
        display: inline-block;
        cursor: pointer;
        display: block;
    }
}
