.row {
	margin: 0 -15px 0 -15px;
}
.row:before,
.row:after {
	display: table;
	content: " ";
}

.container-fluid {
  padding-right: -15px;
  padding-left: -15px;
  margin-right: auto;
  margin-left: auto;
}
.header {
	height:20vh;
	background-color: #000000;
	opacity:0.4;
	width:100%;
	margin:0;
}
.borda {
	border: 1px solid red;
}

.logo-header {
	height:18vh;
	margin:1vh 0 1vh 0;
}